[submodule "shgysk8zer0/phpapi"]
	path = shgysk8zer0/phpapi
	url = https://github.com/shgysk8zer0/phpapi.git
[submodule "shgysk8zer0/geoip"]
	path = shgysk8zer0/geoip
	url = https://github.com/shgysk8zer0/geoip.git
[submodule "shgysk8zer0/http"]
	path = shgysk8zer0/http
	url = https://github.com/shgysk8zer0/http.git
[submodule "shgysk8zer0/phpschema"]
	path = shgysk8zer0/phpschema
	url = https://github.com/shgysk8zer0/phpschema.git
[submodule "shgysk8zer0/phpcrypt"]
	path = shgysk8zer0/phpcrypt
	url = https://github.com/shgysk8zer0/phpcrypt.git
[submodule "shgysk8zer0/phpgeo"]
	path = shgysk8zer0/phpgeo
	url = https://github.com/shgysk8zer0/phpgeo.git
